# Archivos de compilación y de salida
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
.env

# Dependencias específicas de la plataforma
ios/Flutter/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/XCode
android/.gradle
android/local.properties
android/key.properties
android/gradlew
android/gradlew.bat

# Archivos auto-generados y de configuración sensible
GeneratedPluginRegistrant.swift
generated_plugin_registrant.cc
generated_plugins.cmake
google-services.json

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db